{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block body %}

<div class="header pull-right">
    <nav class="navbar navbar-light" style="background-color:white;">
    <a class="navbar-brand" href="{% url 'registrar' %}">Registre-se</a>
    <a class="btn btn-primary" style="border-radius: 20px;margin-top: 10px; margin-left: 10px; margin-right: 10px;" href="{% url 'login' %}">LOGIN</a></button>
    </nav>
</div>

<div class="container-logo">
    
    <img src="{% static 'img/gerirSoft.png' %}" class="img-fluid logo" alt="Logo gerirSoft" style="margin-left: 200px" width="430" height="450" >
</div>


{% endblock %}