{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block body %}

<div class="container-controle">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <h3>Controle de Projetos</h3>
        
    </nav>
</div>


<div class="container">
 
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Status</th>
            <th scope="col">Data</th>
            <th scope="col">Hora</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for projeto in projetos %}
            <tr>
            <th scope="row"><a href="{% url 'projetoDetail' projeto.id %}">{{projeto.nome}}</a></th>
            <td>{{projeto.statusProjeto}}</td>
            <td>{{projeto.data_prazo}}</td>
            <td>{{projeto.hora_prazo}}</td>
            <td><a class="btn btn-primary pull-right btn btn-success" href="#">Editar</a></td>
            <td><a class="btn btn-outline-danger" href="{% url 'excluir_projeto' projeto.id %}">Excluir</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a class="btn btn-primary pull-right" href="{% url 'novoProjeto' %}">Novo Projeto</a>
      <a class="btn btn-primary" href="{% url 'index' %}">Voltar</a>
    
</div>
  


 

{% endblock %}