{% extends "base.html" %}
{% load i18n %}
{% block body %}
<form class = "form-signin"  method="post" 
	action="{% url 'novaTarefa' projeto.id %}">
	{% csrf_token %}

	<h2 class="form-signin-heading">{% trans 'Crie sua tarefa' %}</h2>
	<input 	name="nome" id = "id_nome" class = "form-control"
			placeholder="Nome *" required autofocus>

	<input 	name="data" id = "id_data" class = "form-control"
			placeholder="Data *" type= date required>

    <input 	name="hora" id = "id_hora" class = "form-control"
			placeholder="Hora *" type= time required>

	<h3>Status</h3>
	<select	name="status" id = "id_status" class = "form-control">
		<option value="PENDENTE">Pendente</option>
		<option value="EM DESENVOLVIMENTO">Em desenvolvimento</option>
		<option value="FINALIZADO">Finalizado</option>
	</select>   

	<br>
	<button class="btn btn-lg btn-primary btn-block"
			type = "submit" value="Login">{% trans 'Registrar' %}</button>

	{% if form.errors %}		
	<div class="alert alert-danger">
		<button type="button" class="close"
				data-dismiss="alert" aria-hidden="true">x				
		</button>
		{{ form.non_field_errors }}
	</div>		
	{% endif %}
</form>


{% endblock %}